.edit-task {
  min-height: calc(100vh - 128.64px);
}
/* title */
.edit-task .title-input {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-top: 11px;
}
.edit-task .fa-pen-to-square {
  font-size: 18px;
  transition: all 0.2s;
}
.edit-task .fa-pen-to-square:hover {
  cursor: pointer;
  font-size: 10px;
}
/* sub tasks sec */
.edit-task section.sub-task {
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}

.edit-task .parent-time {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.edit-task .time {
  font-size: 12px;
  color: rgb(28, 156, 156);
}
.edit-task #checkbox {
  width: 18px;
  height: 18px;
  accent-color: rgba(55, 117, 117, 0.733);
}
.edit-task label {
  font-size: 17px;
  margin-left: 11px;
  position: relative;
  bottom: 3px;
}

.edit-task .cart-task {
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 20%);
  background-color: rgb(65, 71, 84);
  padding: 16px;
  border-radius: 5px;
  transition: all 0.2s;
  margin-bottom: 11px;
}
.edit-task .cart-task:hover {
  background-color: rgb(65, 71, 97);
  border-left: 4px solid white;
}
.edit-task .cart-task{
  justify-content: space-between;
}
.edit-task .fa-trash{
  padding: 19px;
  cursor: pointer;
  color: rgb(237, 181, 181);
}
/* add more btn && delete btn */
.edit-task .add-more-task{
  background-color: teal;
  font-size: 19px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.edit-task .delete{
  cursor: pointer;
  background-color: rgba(230, 71, 71, 0.623);
  font-size: 19px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  border: none;
}