.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




.title{
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  margin: 0 auto;
  background-color: #61dafb;
}
.errorPara{
  color: orangered;
}